<!DOCTYPE html>
<html>
<head>
    <title>AI system</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<!--    <h2>Login Page</h2><br>-->
    <div class="login-box">
<!--      <h2>Login</h2>-->
      <img src="/static/images/logo_SSO.png" alt="" class="center">
    <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="">
          <label>Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>


</body>
</html>